<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.net>
        <mailSettings>
            <smtp from="obgynhelpdesk@uabmc.edu">
                <network defaultCredentials="false" host="10.21.0.183" password="0BgynH3lp#" userName="obgynhelpdesk" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
